/* color palette used: https://coolors.co/89d2dc-6564db-232ed1-101d42-0d1317 */

:root {
  --white: hsla(255, 100%, 100%, 1);
  --light-green: hsla(187, 54%, 70%, 1);
  --light-purple: hsla(241, 62%, 63%, 1);
  --dark-blue: hsla(224, 61%, 16%, 1);
}

* {
  box-sizing: border-box;
}

body {
  width: 1200px;
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  font-size: 18px;
  color: var(--light-green);
  background-color: var(--dark-blue);
}

h1 {
  font-size: clamp(40px, 10vw, 100px);
  margin: 0;
}

p {
  line-height: 1.5;
}

a {
  color: var(--light-purple);
}

a:hover {
  color: var(--white);
}

input {
  padding: 20px;
  font-size: 20px;
  color: var(--white);
  font-weight: bold;
  background-color: transparent;
  border: 3px solid var(--light-purple);
  border-radius: 10px;
  appearance: none;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--white);
}

.field {
  display: flex;
  flex-direction: column;
}

.fieldgroup {
  margin: 50px 0;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 30px;
}

button {
  appearance: none;
  padding: 20px;
  font-size: 20px;
  color: var(--light-green);
  font-weight: bold;
  border: 3px solid var(--light-green);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

button {
  width: 100%;
  margin-bottom: 30px;
}

button:hover {
  border-color: var(--light-purple);
  color: var(--white);
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  line-height: 1.5;
}

footer {
  margin-top: 50px;
}

@media screen and (min-width: 600px) {
  body {
    margin: 50px auto;
  }

  button {
    width: auto;
    margin: 0;
  }

  button + button {
    margin-left: 30px;
  }
}
